# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# IDEs
.vs/
.idea/
*.suo
*.user
*.userprefs

# Autogerados pela Unity/IDE
*.csproj
*.unityproj
*.sln
*.pidb
*.booproj
*.svd

# Sistema
.DS_Store
Thumbs.db
Assets/Recovery/
Assets\Images\Map Play Tilemap\Tiles 1
Assets\Images\Map Play Tilemap\Tiles 2
Assets\Images\Map Play Tilemap\Tiles 3
Assets\Images\Map Play Tilemap\Tiles 4
Assets\Images\Trans Tilemap\Tiles